body {
    user-select:none;
    font-family:monospace;
    text-align:center;
    color:#ffffff;
    background-color: #1b1b1b;
    border:0px;
    margin:0px;
    padding:0px;
}
.levelsDiv {
    display:flex;flex-wrap:wrap;
    justify-content: center;
    place-content: center;
}
button {
    font-family:monospace;   
}
p.paragraph {
    color:#ffffff;
}
button.button {
    color:#000000;
}
.hiscoreParagraph {
    color:#00ff00;
}
.levelNameParagraph{
    color:#adadad;
}
.levelAchievmentPerfectParagraph{
    color:#ffffff;
    font-weight : bold;
}
.levelAchievmentUnlocksParagraph {
    color:#afafaf;
    font-style:italic;
}
.levelDisplayNameParagraph{
    color:#ffffff;
    font-style:italic;
        font-weight : bold;
}
h1 {
    color:#ffffff;
    margin-bottom:2em;
}
h2 {
    color:#ffffff;
}
h3 {
    color:#f0f0f0;
    margin-top:5em;
}
.mmapDiv{
    margin-left:1em;
    margin-right:1em
}
.bigDiv{
    display:flex;
    flex-wrap:wrap;
    margin-top:4em;
    justify-content: center;
}
.Viewport {
    margin:4em;
}
.optionsMenu {
    margin-top:3em;
    margin-bottom:3em;
}
.option {
    margin-top:3em;
    margin-bottom:3em;
}
.welcome-text {
    color:#a0f0f0;
    padding:0.5em;
    padding-left:1em;
}
.welcome-text2 {
    color:#ffffff;
    padding:1em;
    padding-top:2em;
}

/* not really styling, stays in js */
/* canvas.renderer { */
/*     padding-left: 0; */
/*     padding-right: 0; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     display: block; */
/* } */
a {
    color : white;
}
img.screenshot {
    height : 192px;
}
